@use '../../sassStyles/variables' as *;

.main-app-content{
    height: 81.9vh;
    text-align: center;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
}

.container-div{
    /* width: 80vw; */
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 2.5vh;
    row-gap: 3.5vh;
}

.button-container:first-child {
    width: 38.5vmax;
    grid-column-start: 1;
    grid-column-end: 3;
}

.under-main-div{
    height: min(30vh, calc(100vw / 1.43));
    width: 100%;
    position: absolute;
    bottom: 0;
    overflow-y: hidden;

    &-wrapper{
        width: fit-content;
        margin: 2vmax auto 0 auto;
        display: flex;
        flex-direction: column;
        gap: 0.5vmax;
        align-items: flex-start;
    }
    
    & img{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.25;
        z-index: 1;
    }
}


/* .css-gfqxk9{
    transform: translate(-50%, -50%) scale(0.3) ;
    transition: transform 5s ease 
} */


.light-div{
    background: linear-gradient(to top, $light-green-color, rgba(255, 255, 255, 0)) ;
    height: 2vmax;
    width: 100%;
    position: absolute;
    bottom: min(30vh, calc(100vw / 1.43));
    /* bottom: calc(100vw / 1.43); */
}

.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop {
    background-color: rgba(0, 0, 0, 0) !important;
}

@media only screen and (orientation: landscape) {
    .light-div {
        display: none;
    }

    .main-app-content{
        display: flex;
        flex-direction: row;
    }

    .top-main-part{
        width: 50%;
    }

    .bottom-main-part{
        width: 50%;
        height: 100%;
    }

    .under-main-div{
        height: 102.5%;
        width: 50%;
    }
    
    .under-main-div img{
        width: 100%;
        height: 100%;
    }

    .under-main-div-wrapper {
        margin-top: 3.8vmax;
    }



}