header{
    height: 10vh;
}
.top-header {
    margin: 0;
    background: linear-gradient(to right, #D0FAF0, #1DE9B6, #D0FAF0) ;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header h1{
    color: #ffffff;
    font-size: 4vh;
}

.top-header .logo {
    width: 6vh;
    position: absolute;
    right: 1vw;
}

.phone{
    width: 6vh;
    position: absolute;
    top: -5.8vh;
    left: 2.5vh;
}

.under-light{
    position: relative;
    margin-top: 1vh;
    background: linear-gradient(to bottom, #a2f7e0, rgba(255, 255, 255, 0)) ;
    height: 2vh;
}