footer{
    height: 8vh;
    width: 100%;
    position: absolute;
    bottom: 0vh;
    border-top: #C7C7C7 1px solid;
    display: flex;
    justify-content: space-evenly;
}

.nav-item{
    width: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nav-item img {
    width: 3.3vh;
    opacity: 50%;
    margin-top: 0.3vh;
}

.nav-item h1{
    font-size: 1.6vh;
    margin: 0;
    padding-top: 0.1vh;
    white-space: nowrap;
}